appdirs==1.4.4
asgiref==3.8.1
Django==4.2.21
django-extensions==4.1
django-multiselectfield==0.1.13
django-sizefield==2.1.0
jasmin-ldap @ git+https://github.com/cedadev/jasmin-ldap.git@c8bd7b4be00bc80105b475b809a00e9855a415ab
ldap3==2.9.1
packaging==25.0
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyparsing==3.2.3
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
